<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSProjectNormalizer.Resource" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <VSProjectNormalizer.Resource>
            <setting name="TEST_OUTPUT_PATH" serializeAs="String">
                <value>Tests\$(AssemblyName)</value>
            </setting>
            <setting name="BIN_OUTPUT_PATH" serializeAs="String">
                <value>Bin\$(AssemblyName)</value>
            </setting>
            <setting name="INTERMEDIATE_OUTPUT_PATH" serializeAs="String">
                <value>obj\$(AssemblyName)</value>
            </setting>
            <setting name="ACCEPTANCE_TEST_OUTPUT_PATH" serializeAs="String">
                <value>Acceptance\$(AssemblyName)</value>
            </setting>
            <setting name="EXTERNAL_BUILD_FOLDER" serializeAs="String">
                <value>$(BuildDir)$(SolutionName)\$(Configuration)</value>
            </setting>
            <setting name="DEFAULT_BUILD_FOLDER" serializeAs="String">
                <value>$(SolutionDir)Artifacts\$(Configuration)</value>
            </setting>
            <setting name="PLATFORM_OUTPUT_PATH" serializeAs="String">
                <value>$(Platform)</value>
            </setting>
            <setting name="DEFAULT_SOLUTION_DIR" serializeAs="String">
                <value>..\..\</value>
            </setting>
            <setting name="DEFAULT_SOLUTION_NAME" serializeAs="String">
                <value>$(AssemblyName)</value>
            </setting>
        </VSProjectNormalizer.Resource>
    </userSettings>
</configuration>
