<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSProjectNormalizer.Resource" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <VSProjectNormalizer.Resource>
            <setting name="SOLUTION_BUILD_FOLDER" serializeAs="String">
                <value>$(SolutionDir)artifacts\$(Configuration)\{ProjectType}\$(AssemblyName)$(PlatformPath)</value>
            </setting>
            <setting name="SOLUTION_INTERMEDIATE_FOLDER" serializeAs="String">
                <value>$(SolutionDir)obj\$(Configuration)\$(AssemblyName)$(PlatformPath)</value>
            </setting>
            <setting name="PROJECT_BUILD_FOLDER" serializeAs="String">
                <value>!artifacts\$(Configuration)$(PlatformPath)</value>
            </setting>
            <setting name="PROJECT_INTERMEDIATE_FOLDER" serializeAs="String">
                <value>!obj\$(Configuration)$(PlatformPath)</value>
            </setting>
            <setting name="SOLUTIONDIR_BUILD_COMMON_PROPS" serializeAs="String">
                <value>$(SolutionDir)Build\\common.props</value>
            </setting>
        </VSProjectNormalizer.Resource>
    </userSettings>
</configuration>
